@media (min-width: 768px) and (max-width: 1299px) {
    
    body {
        background-image: none;
    }

    .container {
        max-width: 728px;
        margin: 0 auto;
    }

/* header--------------------------------------------------------------------------- */

    .header__container {
        width: 728px;
    }

    .header__nav {
        display: none;
    }

    .logo {
        margin-right: 264px;
    }

/* section hero--------------------------------------------------------------------------- */

    .hero {
        height: 504px;
    }

    .hero__wrap {
        padding-top: 100px;
        padding-left: 0;
        width: 580px;
    }

/* section projects--------------------------------------------------------------------------- */

    .projects {
        padding-top: 75px;
        padding-bottom: 58px;
    }

    .projects__list {
        display: none;
    }

    .projects__wrap {
        padding: 0;
        flex-direction: column;
        gap: 15px;
    }
    
    .projects__text {
        width: 385px;
    }

    .projects__data_position_lower {
        margin-bottom: 35px;
    }

    .projects__selection {
        align-self: center;
    }

/* section control--------------------------------------------------------------------------- */

    .control {
        margin-top: 0;
        padding-bottom: 30px;
        background: #131313;
    }

    .control__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .control__img-block {
        width: 728px;
        height: 380px;
    }
    
    .control__img-photo {
        width: 728px;
        height: 380px;
        object-fit: cover;
    }
    
    .control__btn-play {
        left: 331.5px;
        top: 157.5px;
        width: 65px;
        height: 65px;
        border-radius: 65px;
    }

    .control__btn-play-bolders {
        width: 22px;
        height: 22px;
        justify-content: end;
    }

    .control__btn-play-icon {
        width: 17px;
        height: 18px;
    }

    .control__text {
        margin: 0 0 70px;
        color: #ffffff;
    }

    .control__form-label {
        color: rgba(255, 255, 255, 0.50);
    }
    
    .input_position_control {
        background-color: transparent;
        border-bottom: solid 1px rgba(255, 255, 255, 0.15);
        color: #ffffff;
        width: 215px;
    }
    
    .input_position_control::placeholder {
        color: #ffffff;
    }

    .checkbox__text_position_control {
        color: #ffffff;
    }

/* section cards-repair--------------------------------------------------------------------------- */

    .cards-repair {
        margin-bottom: 55px;
    }

    .cards-repair__wrap {
        padding: 0;
    }

    .cards-repair__cards-wrap {
        flex-direction: column;
        gap: 30px;
    }

    .cards-repair__img-block {
        width: 560px;
        height: 365.5px;
    }
    
    .cards-repair__img-photo {
        width: 560px;
        height: 365.5px;
        object-fit: cover;
    }

    .cards-repair__info-block {
        margin-top: -112px;
        margin-left: 35px;
        align-self: start;
    }
    
/* section request-info--------------------------------------------------------------------------- */

    .request-info {
        display: none;
    }

/* section styledesign--------------------------------------------------------------------------- */

    .styledesign {
        background-image: none;
        height: 440px;
        margin-bottom: 0;
    }

    .styledesign::before {
        content: none;
    }

    .styledesign__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .styledesign__styles {
        margin: 0;
        padding: 0;
        width: 340px;
    }

    .styledesign__title {
        margin-bottom: 24px;
        text-align: center;
    }

    .styledesign__list {
        display: none;
    }

    .styledesign__list-btn {
        display: none;
    }

    .styledesign__img-block {
        width: 560px;
    }

    .styledesign__img-block_num_first {
        margin: 0;
        width: 560px;
        height: 350px;
        position: relative;
    }

    .styledesign__img-photo_num_first {
        width: 560px;
        height: 350px;
        object-fit: cover;
        margin: 0;
    }

    .styledesign__img-photo_num_second,
    .styledesign__img-photo_num_third,
    .styledesign__img-photo_num_fourth {
        display: none;
    }

    .styledesign__mobile-btn {
        display: flex;
        position: absolute;
        border-radius: 36px;
        width: 36px;
        height: 36px;
        background: #e3b873;
        border: none;
        cursor: pointer;
        transition: color 0.2s ease;
    }

    .styledesign__mobile-btn:hover {
        background-color: #b68c49;
    }

    .styledesign__mobile-btn_direction_left {
        padding: 11px 14.7px 11px 13px;
        left: 14px;
        top: 157px;
    }

    .styledesign__mobile-btn_direction_right {
        padding: 11px 13px 11px 14.7px;
        right: 14px;
        top: 157px;
    }

/* section reviews--------------------------------------------------------------------------- */

    .reviews {
        display: none;
    }

/* section contacts--------------------------------------------------------------------------- */

    .contacts {
        margin-top: -175px;
        height: fit-content;
        padding-bottom: 49px;
    }

    .contacts__wrap {
        padding: 200px 0 0;
    }

    .contacts__form-block {
        margin: 0 0 46px;
        padding: 34.4px 103.5px;
        width: 728px;
    }

    .contacts__img-block {
        width: 728px;
        height: 465px;
        overflow: hidden;
        margin-bottom: 42px;
    }
    
    .contacts__img-map {
        width: 1549px;
        height: 465px;
        object-fit: cover;
        object-position: -407.5px;
    }

    .footer__container {
        height: 100px;
    }

}